@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption,
blockquote,
dl,
dd,
pre {
  margin: 0;
}

audio,
video,
canvas,
iframe,
img,
svg {
  vertical-align: middle;
}

img {
  height: auto;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Typography */

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

label {
  font-size: 14px;
}
